.login {
  display: grid;
  place-items: center;
  height: 100vh;
}
.login_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  /* background-color: red; */
  border-radius: 10px;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.login_form > input {
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
}
.login_form > label {
  margin: 10px;
}
.login_form > button {
  padding: 10px;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
}
.switch {
  margin: 10px;
  text-decoration: none;
}
